@page "/contact"
@layout HomePage
@inject IJSRuntime js

<section class="contact pb-4">
    <div class="left">
        <form action="">
            <a class="close-btn">
                <i class="fas fa-window-close"></i>
            </a>
            <h4 class="header">Contact Us</h4>
            <p class="contact-caption">We'd like to hear from you!</p>
            <!--Row 1-->
            <div class="input-group">
                <div class="input-container _medium">
                    <input type="text" name="name" id="name" required>
                    <label for="name">Full Name</label>
                    <small class="@nameSml">Name is to short</small>
                </div>
                <div class="input-container _medium">
                    <input type="text" name="contactNumber" id="contactNumber" required>
                    <label for="contactNumber">Contact Number</label>
                </div>
            </div>

            <!--Row 2-->
            <div class="input-group">
                <div class="input-container _medium">
                    <input class="@emailInput" type="email" name="email" id="email" @bind="emailValue"
                        @onfocusout="Email_Invalid" required>
                    <label class="@emailLbl" for="email">Email Address</label>
                    <small class="@emailSml">Invalid email address</small>
                </div>

                <!--PLEASE STUDY DICTIONARY-->
                <div class="input-container _medium">
                    <select name="service" id="service" required>
                        <option value="" hidden></option>
                        <option value="1">Planning & Design</option>
                        <option value="2">Construction</option>
                        <option value="3">Renovation</option>
                        <option value="4">Electrical</option>
                        <option value="5">Electronics</option>
                        <option value="6">Mechanical</option>
                        <option value="7">Plumbing</option>
                        <option value="8">Consultation</option>
                    </select>
                    <label for="service">Service</label>
                </div>
            </div>
            <div class="input-group">
                <div class="input-container _large">
                    <textarea name="textarea" id="textarea" required></textarea>
                    <label for="textarea">Message</label>
                </div>
            </div>

            <div class="input-group" style="justify-content: flex-end;">
                @if (emailValid)
                {
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                }
                else
                {
                    <button class="btn btn-outline-secondary" disabled>
                        <i class="fas fa-paper-plane"></i>
                    </button>
                }
            </div>
        </form>
    </div>
    <div class="right">

    </div>
</section>


@code {

    private string emailValue;

    private string emailLbl = string.Empty;

    private string emailInput = string.Empty;

    private string nameSml = string.Empty;

    private string emailSml = string.Empty;

    private bool emailValid = true;

    private void Email_Invalid()
    {
        
            var _emailValue = emailValue;

        if (!string.IsNullOrWhiteSpace(_emailValue))
        {
            _emailValue.Trim();

            if ((_emailValue.Contains(' ')) ||
            (_emailValue.EndsWith("@.com")) ||
            !(_emailValue.Contains('@')) ||
            !(_emailValue.EndsWith(".com")))
            {
                System.Console.WriteLine("inval");
                emailLbl = "_invalid";
                emailInput = "_invalid-input";
                emailSml = "small-show";

                emailValid = false;

            }
            else
            {

                System.Console.WriteLine("val");
                emailLbl = "_invalid";
                emailInput = "_valid-input";
                emailSml = "_valid-small";
                emailValid = true;
            }
        }
        else if (string.IsNullOrEmpty(emailValue))
        {
            //If empty or whitespace
            if(emailValid)
            System.Console.WriteLine("End If");
            emailInput = "_valid-input";
            emailSml = "_valid-small";
            emailLbl = "_valid-label";
            
            emailValid = true;

        }

    }


}