.contact {
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    // z-index: -1;
}

#exampleModal {
    position: absolute !important;
    z-index: 999;
}

.left,
.right {
    width: 50%;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: var(--gray-70);

        .contact-caption,
        .header {
            color: var(--aqua);
        }
    }
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;

    .info-container {
        min-width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        outline: 3px solid var(--gray);
        border: 2px groove var(--white);
        background-color: var(--gray);
        color: var(--aqua);

        .info-header {
            color: var(--white);
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .info-title {
            border-bottom: 2px solid var(--white);
            margin-bottom: 15px;
        }

        .info-body {
            display: flex;
            flex-wrap: wrap;
            font-size: 14px;

            .sub-content {
                min-width: 50%;

                a,
                a:visited {
                    text-decoration: none;
                    color: var(--aqua);
                }

                .gmail {
                    word-wrap: break-word;
                }

                strong {
                    color: var(--white);
                }
            }
        }
    }
}

@media screen and (max-width: 912px) {
    .contact {
        padding-top: 75px !important;
    }

    .left,
    .right {
        width: 90%;
    }

    .left {
        margin-bottom: 20px;
        padding-top: 20px !important;
    }
}

._modal {
    color: var(--aqua);

    &-header {
        font-weight: bold;
        font-size: 80%;

        p {
            font-weight: lighter !important;
        }
    }

    &-body {
        font-size: 14px;
    }

    &-slogan {
        color: black;
        text-transform: uppercase;
        font-size: 10px;
    }
}

.modal-show {
    visibility: visible;
    animation: fade 5s ease forwards;
}

@media screen and (max-width: 1034px) {
    .contact {
        padding-bottom: 60px !important;
    }
}