.contact {
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

#exampleModal {
  position: absolute !important;
  z-index: 999;
}

.left,
.right {
  width: 50%;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left form {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--gray-70);
}

.left form .contact-caption,
.left form .header {
  color: var(--aqua);
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right .info-container {
  min-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
  outline: 3px solid var(--gray);
  border: 2px groove var(--white);
  background-color: var(--gray);
  color: var(--aqua);
}

.right .info-container .info-header {
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.right .info-container .info-title {
  border-bottom: 2px solid var(--white);
  margin-bottom: 15px;
}

.right .info-container .info-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
}

.right .info-container .info-body .sub-content {
  min-width: 50%;
}

.right .info-container .info-body .sub-content a,
.right .info-container .info-body .sub-content a:visited {
  text-decoration: none;
  color: var(--aqua);
}

.right .info-container .info-body .sub-content .gmail {
  word-wrap: break-word;
}

.right .info-container .info-body .sub-content strong {
  color: var(--white);
}

@media screen and (max-width: 912px) {
  .contact {
    padding-top: 75px !important;
  }
  .left,
  .right {
    width: 90%;
  }
  .left {
    margin-bottom: 20px;
    padding-top: 20px !important;
  }
}

._modal {
  color: var(--aqua);
}

._modal-header {
  font-weight: bold;
  font-size: 80%;
}

._modal-body {
  font-size: 14px;
}

._modal-slogan {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
}

.modal-show {
  visibility: visible;
  -webkit-animation: fade 5s ease forwards;
          animation: fade 5s ease forwards;
}

@media screen and (max-width: 1034px) {
  .contact {
    padding-bottom: 60px !important;
  }
}
/*# sourceMappingURL=Contact.razor.css.map */