section.hero {
  position: relative;
  padding-top: 100px;
  width: 100%;
  min-height: 100vh;
  background-color: var(--aqua-70);
  background-image: url(images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--white);
}

section.hero .container-fluid,
section.hero .row {
  height: 100%;
}

section.hero .card {
  background-color: var(--black-70);
  border: 1px solid var(--white);
  -webkit-box-shadow: 0px 0px 16px var(--white);
          box-shadow: 0px 0px 16px var(--white);
  border-radius: 20px;
}

section.hero .card .card-title {
  font-weight: bolder;
  color: var(--aqua);
  text-align: center;
}

section.hero .cta-btn {
  border: 2px solid var(--aqua);
  color: var(--white);
  background-color: var(--aqua);
  font-weight: bolder;
}

section.hero .cta-btn:hover {
  color: var(--aqua);
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 6px var(--aqua-70);
          box-shadow: 0px 0px 6px var(--aqua-70);
}

section.hero #feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 450px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.hero #feature #feature1,
section.hero #feature #feature4 {
  width: 100%;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.hero #feature #feature2,
section.hero #feature #feature3 {
  width: 45%;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.hero #feature .flip-box {
  background-color: transparent;
  width: 150px;
  height: 130px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

section.hero #feature .flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

section.hero #feature .flip-box:hover .flip-box-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

section.hero #feature .flip-box-front,
section.hero #feature .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

section.hero #feature .flip-box-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

section.hero img {
  border-radius: 5px;
  height: 130px;
  width: 150px;
  border: 1px solid var(--black);
  -webkit-box-shadow: 0 0 16px var(--black);
          box-shadow: 0 0 16px var(--black);
}

@media screen and (max-width: 870px) {
  section.hero {
    padding-top: 100px;
    background-image: none !important;
  }
  section.hero .col-md-12 {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@media screen and (max-width: 412px) {
  section.hero {
    padding-top: 120px;
  }
  section.hero #feature2,
  section.hero #feature3 {
    width: 100% !important;
  }
}

section.services {
  width: 100%;
  min-height: 100vh;
  background-color: var(--aqua-70);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.services .services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

section.services .services-container .box-container {
  border: 1px solid --white;
  width: 25%;
  min-width: 305px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.services .services-container .box-container .box-content {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--white);
  color: var(--aqua);
}

section.services .services-container .box-container .box-content .img-container {
  width: 100%;
  height: 60%;
  overflow: hidden;
  position: relative;
}

section.services .services-container .box-container .box-content .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

section.services .services-container .box-container .box-content .img-container .img-overlay {
  display: none;
  visibility: hidden;
  opacity: 0;
  background-color: var(--aqua-70);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.services .services-container .box-container .box-content .img-container .img-overlay .btn {
  border: 2px solid var(--white);
  color: var(--white);
  text-transform: capitalize;
  font-weight: bold;
}

section.services .services-container .box-container .box-content .img-container .img-overlay .btn:hover {
  background-color: var(--white);
  color: var(--aqua);
}

section.services .services-container .box-container .box-content .img-container:hover .img-overlay {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fade-in 600ms forwards;
          animation: fade-in 600ms forwards;
}

section.services .services-container .box-container .box-content .img-container:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section.services .services-container .box-container .box-content .box-details {
  width: 100%;
  height: 40%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

section.services .services-container .box-container .box-content .box-details .box-header h4 {
  font-weight: bolder;
}

section.services .services-container .box-container .box-content .box-details p {
  display: none;
  font-size: medium;
}

section.services .services-container .box-container .box-content .img-container:hover + .box-details {
  background-color: var(--aqua);
  color: var(--white);
}

section.services .services-container .box-container .box-content .img-container:hover + .box-details .box-header {
  display: none;
}

section.services .services-container .box-container .box-content .img-container:hover + .box-details p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slideUp 1s forwards;
          animation: slideUp 1s forwards;
}

section.footer {
  border-top: 1px solid var(--gray);
  min-height: 100vh;
  width: 100%;
  background-color: var(--white-70);
  -webkit-box-shadow: 0px 0px 4px var(--black-70);
          box-shadow: 0px 0px 4px var(--black-70);
  padding: 150px 15px 15px 15px;
  color: var(--aqua);
}

section.footer ul,
section.footer li {
  margin: 0px !important;
  list-style: none;
}

section.footer a,
section.footer a:hover,
section.footer a:visited {
  text-decoration: none;
  color: var(--aqua);
}

section.footer .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section.footer .col-12 #news-letter {
  min-width: 260px;
}

section.footer .col-12 .box {
  width: 200px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
}

section.footer .col-12 .box-header {
  font-size: large;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--aqua-70);
  margin-bottom: 5px;
}

section.footer .col-12 .box-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.footer .col-12 .box-body ul {
  padding-left: 5px;
}

section.footer .col-12 .box-body label {
  font-size: small;
}

section.footer .col-12 .box-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2px;
  border: 2px solid var(--aqua);
  background-color: var(--gray-70);
}

section.footer .col-12 .box-body input,
section.footer .col-12 .box-body input::-moz-selection,
section.footer .col-12 .box-body input:focus {
  width: 200px;
  outline: none;
  border: none;
}

section.footer .col-12 .box-body input,
section.footer .col-12 .box-body input::selection,
section.footer .col-12 .box-body input:focus {
  width: 200px;
  outline: none;
  border: none;
}

section.footer .col-12 .box-body button {
  width: 26px;
  text-align: center;
  border: none;
  background: transparent;
  color: var(--aqua);
}

section.footer .col-12 .box-body form:hover {
  -webkit-box-shadow: 0px 0px 4px var(--aqua);
          box-shadow: 0px 0px 4px var(--aqua);
}

section.footer .col-12 .terms {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

section.footer .col-12 .terms > ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.footer .col-12 .terms > ul > li {
  width: 130px;
  text-align: center;
}

section.footer .col-12 .rights-reserve {
  border-top: 1px solid var(--gray-70);
  padding-top: 10px;
  text-align: center;
}

@media screen and (max-width: 740px) {
  section.footer {
    padding-left: 2px;
  }
  section.footer .col-12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  section.footer .box {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
}

.hide {
  display: none;
}
/*# sourceMappingURL=Index.razor.css.map */