@page "/"
@layout HomePage
@inject IJSRuntime js
@inject IIntersectionObserverService observer
<!--
    Notes:
    There will be a floating card at the very start of the application for new updates
    and other thing that needs attention and can be close afterwards.
-->

<title>Hopestone Construction Services | The Pioneer of Construction Innovation</title>
<!-- Service Quotation-->
<div class="quotation @showQuote">
    <div class="quotation-container">
        <button type="button" class="close" data-dismiss="" aria-label="Close" @onclick="CloseQuote">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="left">
            <div class="service-icon">
                <img src=@serviceIcon alt="Service Icon">
            </div>
        </div>
        <div class="right">
            <div class="service-title">
                <h4>@serviceTitle</h4>
            </div>
            <div class="form-container">
            </div>
        </div>
    </div>
</div>

<section class="hero">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-md-12 d-flex flex-row  justify-content-center align-items-center">

                <!-- Slogan -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Hopestone Construction Services</h5>
                            <p class="card-text">
                                We are a Registered Construction Firm offering Planning & Design,
                                Building Construction, Renovation, Mechanical, Electronics, Electrical, Plumbing, and
                                other construction services. You name it, we build it
                            </p>
                            <br>
                            <p class="card-text">
                                We aim to provide outstanding Customer Service and distinctive interior/exterior
                                designs.
                            </p>
                            <a href="/service" class="btn cta-btn">Get A Quote</a>
                        </div>
                    </div>
                </div>

                <!-- Feature -->
                <div id="feature" class="col-md-6">
                    <!-- Top Row-->
                    <div id="topRow" class="row">
                        <div class="col-12">
                            <div class="flip-box">
                                <div class="flip-box-inner">
                                    <div class="flip-box-front">
                                        <img src="images/hero1.jpg" alt="">
                                    </div>
                                    <div class="flip-box-back">
                                        <img src="images/feature1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mid Row -->
                    <div id="midRow" class="row">
                        <div class="col-12 d-flex flex-row">
                            <div class="col-6">
                                <div class="flip-box">
                                    <div class="flip-box-inner">
                                        <div class="flip-box-front">
                                            <img src="images/hero2.jpg" alt="">
                                        </div>
                                        <div class="flip-box-back">
                                            <img src="images/feature2.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="flip-box">
                                    <div class="flip-box-inner">
                                        <div class="flip-box-front">
                                            <img src="images/hero3.jpg" alt="">
                                        </div>
                                        <div class="flip-box-back">
                                            <img src="images/feature3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Bottom Row -->
                    <div id="botRow" class="row">
                        <div class="col-12">
                            <div class="flip-box">
                                <div class="flip-box-inner">
                                    <div class="flip-box-front">
                                        <img src="images/hero4.jpg" alt="">
                                    </div>
                                    <div class="flip-box-back">
                                        <img src="images/feature4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="services-container">
        <div class="col-12">

            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="ShowPlanning">
                                    <i class="fas fa-edit"></i>
                                    Get a quote
                                </a>
                            </div>
                            <img loading="lazy" src="images/planning.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Planning & Design</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="ShowConstruction">
                                    <i class="fas fa-edit"></i>
                                    Get a quote
                                </a>
                            </div>
                            <img loading="lazy" src="images/construction.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Construction</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="ShowRenovation">
                                    <i class="fas fa-edit"></i>
                                    Get a quote
                                </a>
                            </div>
                            <img loading="lazy" src="images/renovation.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Renovation</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="ShowMechanical">
                                    <i class="fas fa-edit"></i>
                                    Get a quote
                                </a>
                            </div>
                            <img loading="lazy" src="images/mechanical.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Mechanical</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="ShowElectrical">
                                    <i class="fas fa-edit"></i>
                                    Get a quote
                                </a>
                            </div>
                            <img loading="lazy" src="images/electrical.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Electrical</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="ShowElectronics">
                                    <i class="fas fa-edit"></i>
                                    Get a quote
                                </a>
                            </div>
                            <img loading="lazy" src="images/electronics.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Electronics</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="ShowPlumbing">
                                    <i class="fas fa-edit"></i>
                                    Get a quote
                                </a>
                            </div>
                            <img loading="lazy" src="images/plumbing.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Plumbing</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="ShowConsult">
                                    <i class="fas fa-edit"></i>
                                    Get a quote
                                </a>
                            </div>
                            <img loading="lazy" src="images/consultation.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Consultation</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
    Blog & Portfolio
    This two additional section will display plus button if nothing to display using if condition
    -->

<section @ref="footerObserver" class="footer">
    <div class="col-12">

        <div class="box">
            <div class="box-header">
                Company
            </div>
            <div class="box-body">
                <ul>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">What is Hopestone</a>
                    </li>
                    <li>
                        <a href="">Our Customer</a>
                    </li>
                    <li>
                        <a href="">Careers</a>
                    </li>
                    <li>
                        <a href="">Partner with Us</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                Resources
            </div>
            <div class="box-body">
                <ul>
                    <li>
                        <a href="">Help & Support</a>
                    </li>
                    <li>
                        <a href="">Status</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="news-letter" class="box">
            <div class="box-header">
                News Letter
            </div>
            <div class="box-body">
                <label for="newsLetter">Subscribe to our monthly news letter</label>
                <form action="">
                    <input type="email" name="" id="newsLetter">
                    <button type="button">
                        <i class="far fa-paper-plane"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="terms">
            <ul class="d-flex flex-row justify-content-around align-items-center">
                <li>
                    <a href="">Terms of use</a>
                </li>
                <li>
                    <a href="">Privacy policy</a>
                </li>
                <li>
                    <a href="">Cookie setting</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="https://goo.gl/maps/Yms9MCX3W8VzX4Zo7" target="_blank">Site Map</a>
                </li>
                <li>
                    <a href="">Credits</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12">
        <div class="rights-reserve w-100">
            &COPY; Copyright 2021 Hopestone Construction Services. All rights reserved.
        </div>
    </div>
</section>

@code {
    public ElementReference footerObserver { get; set; }

    public bool IsIntersecting { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SetupObserver();
        }
    }

    public async Task SetupObserver()
    {
        var options = new IntersectionObserverOptions
        {
            RootMargin = "10px 0px 0px 0px"
        };

        await observer.Observe(footerObserver, (entries) =>
        {
            var entry = entries.FirstOrDefault();
            IsIntersecting = entry.IsIntersecting;
            StateHasChanged();

            if (entry.IsIntersecting)
            {
                js.InvokeVoidAsync("ShowHeader");
            }
            else
            {
                js.InvokeVoidAsync("HideHeader");
            }
        });
    }

    private IntersectionObserver Observer;

    public async ValueTask DisposeAsync()
    {

        if (this.Observer != null)
        {
            await this.Observer.Dispose();
        }
    }

    //Quote Pop-over
    //Service
    private string serviceIcon = string.Empty;
    private string serviceTitle = string.Empty;
    private string showQuote = string.Empty;
    @* private string showQuote = "_show-quote"; *@

    private void ShowPlanning()
    {
        showQuote = "_show-quote";
        serviceIcon = "images/planning_icon.png";
        serviceTitle = "planning & design";
    }
    private void ShowConstruction()
    {
        showQuote = "_show-quote";
        serviceIcon = "images/construction_icon.png";
        serviceTitle = "Construction";
    }
    private void ShowRenovation()
    {
        showQuote = "_show-quote";
        serviceIcon = "images/renovation_icon.png";
        serviceTitle = "Renovation";
    }
    private void ShowMechanical()
    {
        showQuote = "_show-quote";
        serviceIcon = "images/mechanic_icon.png";
        serviceTitle = "Mechanical";
    }
    private void ShowElectrical()
    {
        showQuote = "_show-quote";
        serviceIcon = "images/electrical_icon.png";
        serviceTitle = "Electrical";
    }
    private void ShowElectronics()
    {
        showQuote = "_show-quote";
        serviceIcon = "images/electronics_icon.png";
        serviceTitle = "Electronics";
    }
    private void ShowPlumbing()
    {
        showQuote = "_show-quote";
        serviceIcon = "images/plumbing_icon.png";
        serviceTitle = "Plumbing";
    }
    private void ShowConsult()
    {
        showQuote = "_show-quote";
        serviceIcon = "images/consult_icon.png";
        serviceTitle = "Consultation";
    }

    private void CloseQuote()
    {
        showQuote = "_hide-quote";
    }

}