@page "/service/{id}"
@layout HomePage
@inject IProductService ProductService

<style>
    .home-footer a {
        color: var(--white) !important;
        font-weight: bold;
    }
</style>
<title>HOPESTOME | Service</title>
<section class="services">
    <h1>Services Page</h1>
    <p>Service for service title </p>
    <Counter />
    <HomeFooter />
</section>

@code {

    private Product product;

    [Parameter]
    public string Id { get; set; }

    protected override void OnInitialized()
    {
        product = ProductService.Products.FirstOrDefault(p => p.Id == Int32.Parse(Id));
    }
}