@page "/service"
@layout HomePage

<style>
    .home-footer a {
        color: var(--white) !important;
        font-weight: bold;
    }
</style>
<title>HOPESTOME | Service</title>
<section class="services">
    <h1>Services Page</h1>
    <HomeFooter />
</section>

@code {

}