@page "/service/{id}"
@layout HomePage

<style>
    .home-footer a {
        color: var(--white) !important;
        font-weight: bold;
    }
</style>
<title>HOPESTOME | Service</title>
<section class="services">
    <h1>Services Page</h1>
    <p>Service for service id @Id</p>
    <HomeFooter />
</section>

@code {

    [Parameter]
    public string Id { get; set; }

}