@inherits LayoutComponentBase

<style>
    .home-body {
        position: relative;
        z-index: 1;
    }
</style>

<div class="home-body" @onscroll="Scrolled">
    <HomeNavigation />
    @Body
</div>


@code {
    private string mousePointerMessage;
    private void Scrolled()
    {
        System.Console.WriteLine("scrolled");

    }
    private void Wheel_Scrolled(MouseEventArgs e)
    {
        System.Console.WriteLine("scrolled");
        mousePointerMessage = $"Mouse coordinates: {e.ScreenX}:{e.ScreenY}";
        System.Console.WriteLine(mousePointerMessage);

    }

    private string message;

    protected override void OnInitialized()
    {
        message = $"Initialized at {DateTime.Now}";
        System.Console.WriteLine(message);
    }


}
