<section class="home-footer">
    <div class="container-fluid">
        <p class="copyright">&COPY; Copyright 2021 <a href="#">Hopestone Construction Services</a>. All rights reserved.
        </p>
        <p class="map">
            <a href="https://goo.gl/maps/YKbdfH2NFYN2BbBP6" target="_blank">Site Map</a>
        </p>
        <p class="term">
            <a href="#">Terms of Use</a>
        </p>

    </div>
</section>