@inject IJSRuntime js
@inject IProductService ps

<style>
    ._hide-quote {
        animation: quote-slide-out 600ms ease forwards;
    }
</style>
<div class="quotation">
    <div class="quotation-container">
        <button type="button" class="close" data-dismiss="" aria-label="Close" @onclick="CloseQuote">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="left">

            <div class="service-icon">
                <img id="quoteIcon" alt="Service Icon">
            </div>
        </div>
        <div class="right">
            <div class="service-title">
                <h4 id="Title"></h4>
            </div>
            <div class="form-container">
                <FormLayout />
            </div>
        </div>
    </div>
</div>