form {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-width: 90%;
}

form .close-btn {
  position: absolute;
  color: red;
  top: 5px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
}

form .input-group {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 14px;
}

form .input-group .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid gainsboro;
  background-color: var(--white);
  border-radius: 5px;
  padding: 10px 5px 5px 5px;
  position: relative;
  z-index: 1;
}

form .input-group label {
  position: absolute;
  margin-bottom: 0px;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 20px;
  font-size: 12px;
  color: var(--gray);
  z-index: 5;
}

form .input-group input[type="email"],
form .input-group input[type="text"],
form .input-group textarea,
form .input-group select {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 10px;
  background-color: transparent;
  font-size: 14px;
  margin-top: 5px;
}

form .input-group input[type="email"]:focus ~ label,
form .input-group input[type="email"]:valid ~ label,
form .input-group input[type="text"]:focus ~ label,
form .input-group input[type="text"]:valid ~ label,
form .input-group textarea:focus ~ label,
form .input-group textarea:valid ~ label {
  color: var(--aqua);
  -webkit-transform: translate(-15px, -10px);
          transform: translate(-15px, -10px);
  -webkit-transition: -webkit-transform 600ms ease;
  transition: -webkit-transform 600ms ease;
  transition: transform 600ms ease;
  transition: transform 600ms ease, -webkit-transform 600ms ease;
}

form .input-group select:focus ~ label,
form .input-group select:valid ~ label {
  color: var(--aqua);
  -webkit-transform: translate(-15px, -10px);
          transform: translate(-15px, -10px);
  -webkit-transition: -webkit-transform 600ms ease;
  transition: -webkit-transform 600ms ease;
  transition: transform 600ms ease;
  transition: transform 600ms ease, -webkit-transform 600ms ease;
}

form .input-group small {
  visibility: hidden;
  position: absolute;
  bottom: -15px;
  left: 10%;
  font-style: italic;
  -webkit-animation: colorWarning 5s ease infinite;
          animation: colorWarning 5s ease infinite;
}

form .input-group .small-show {
  visibility: visible;
}

form .input-group ._invalid {
  color: var(--aqua);
  -webkit-transform: translate(-15px, -10px);
          transform: translate(-15px, -10px);
  -webkit-transition: -webkit-transform 600ms ease;
  transition: -webkit-transform 600ms ease;
  transition: transform 600ms ease;
  transition: transform 600ms ease, -webkit-transform 600ms ease;
}

form .input-group ._invalid-input {
  -webkit-animation: colorWarning 2s ease infinite;
          animation: colorWarning 2s ease infinite;
}

form .input-group ._valid-label {
  position: absolute;
  margin-bottom: 0px;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 20px;
  font-size: 12px;
  color: var(--gray);
  z-index: 5;
}

form .input-group ._valid-input {
  color: black;
}

form .input-group ._valid-small {
  visibility: hidden;
}

form .input-group ._tiny {
  width: calc(100% / 4);
}

form .input-group ._small {
  width: calc(100% / 3);
}

form .input-group ._medium {
  width: calc((100% / 2) - 10px);
}

form .input-group ._large {
  width: calc(100% / 1);
}

@media screen and (max-width: 812px) {
  form .input-group .input-container:not(:last-child) {
    margin-bottom: 1.5rem !important;
  }
  form .input-group ._tiny,
  form .input-group ._small,
  form .input-group ._medium,
  form .input-group ._large {
    width: 100%;
  }
}

@media screen and (max-width: 412px) {
  form .input-group ._tiny,
  form .input-group ._small,
  form .input-group ._medium,
  form .input-group ._large {
    min-width: 100 !important;
    width: 100% !important;
  }
}

._modal {
  visibility: hidden;
  position: fixed;
  overflow: hidden !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black-70);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

._modal-content {
  width: 40% !important;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: gainsboro;
  border-radius: 20px;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._modal-header, ._modal-body, ._modal-footer, ._modal-slogan, ._modal-title {
  width: 100%;
}

._modal-body {
  background-color: var(--white);
  border-radius: 5px;
  padding: auto 20px;
  margin-bottom: 0.25rem;
}

._modal-body p {
  margin: auto 5px;
}

._modal-footer {
  text-align: right;
}

._modal .close {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/*# sourceMappingURL=custom.css.map */